<div class="container">
    <p class="headline">login</p>
    <div>
        <div class="box">
            <p>Email</p>
            <div><input type="text" name="email" [(ngModel)]="loginobj.email" id="" placeholder="Enter your Email"></div>
        </div>
    </div>
    <div>
        <div class="box">
            <p>Password</p>
            <div><input type="password" name="password" [(ngModel)]="loginobj.password"id="" placeholder="Enter your Password"></div>
        </div>
    </div>
    <button class="loginBtn" (click)="onlogin()">Login</button>
    <p class="text">Don't have an account?<a href="#">Sign in</a></p>
</div>
