
<app-greeting></app-greeting>

<app-userprofile></app-userprofile>
<app-like></app-like>
<app-two-way-binding></app-two-way-binding>

<h4>Parent component</h4>

<app-child [messageFromParent]="'Hello from Parent!'" ></app-child>

<p id="ngIf">Directives in Angular,NgIf</p>
<p *ngIf="iswatching">It is visible</p>

<hr>
<p> Ngfor example</p>
<ul>
<li *ngFor="let fruit of fruits">
  {{fruit}}
  </li>
</ul>

<hr>
<h3>Services AND Dependancy Injection</h3>

<p>{{message}}</p>

<p>{{servicemsg}}</p>
<hr>

<app-parent-shared></app-parent-shared>

<app-child-shared ></app-child-shared>
<hr>

<h3>My First Routing App 🚀</h3>

<a routerLink="/">HOME</a> |
<a routerLink="/about">ABOUT</a>


<router-outlet></router-outlet> 


<h2>🚀 MultiPage Demo</h2>
<nav>
  <a routerLink="/multipage/home">Home</a> |
  <a routerLink="/multipage/about">About</a>
</nav>

<router-outlet></router-outlet>


<hr>

<app-user-form></app-user-form>

<hr>
<app-templete-form></app-templete-form>
<hr>

<h2>GET API CALL INTEGRATION</h2>
<app-api></app-api>

<hr>
<app-login></app-login>





